/* Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

/* Pages */
body {
  background: #ddd;
  font: {
    family: 'Trebuchet MS', 'Arial';
    size:   1em;
  }
}

.hidden {
  display: none;
}

/* Color Theme */
$border-dark:   #888;
$border-light:  #AAA;
$surface-dark:  #CCC;

/* Mixins */
@mixin simple-shadow ($spread, $intensity, $color){
  -webkit-box-shadow: 0px 0px $spread $intensity $color;
          box-shadow: 0px 0px $spread $intensity $color;
}

/* Throbbers */
.dark-bar {
  background: {
    image: url('../images/throbbers/dark-bar.gif');
    position: center center;
    repeat: no-repeat;
  }
}

.spinner {
  background: {
    image: url('../images/throbbers/spinner.gif');
    position: center center;
    repeat: no-repeat;
  }
}

/* Input Modal */
.inputmodal {
  border: 1px solid $border-dark;
  padding: 10px 50px;
  background: $surface-dark;
  display: none;
  @include simple-shadow (5px, 0px, #999);

  /* Title */
  .title {
    text-align: center;
    margin-bottom: 10px;

    font: {
      size: 1.2em;
      color: #000;
    }
  }

  /* Options */
  .options {
    font-size: 0.8em;
    margin-bottom: 10px;

    .option {
      padding: 5px;
      input {
        margin: 3px 0;
        padding: 2px;
      }
    }
  }

  /* Resolution */
  .resolution {
    text-align: center;

    button {
      padding: 5px 35px;
    }
  }
}
